html,
body {
  font-family: system-ui, sans-serif;
  background-color: #FFF6EE;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  margin: 20px 0;
}

button.primary {
  color: white;
  background-color: #DA978C;
}

button.secondary {
  background-color: #A2897C;
  color: white;
}

.title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
}

main, .box {
    background-color: #FFECDF;
    border-radius: 55px;
    display: flex;
    flex-flow: column;
    width: 80%;
    margin: 50px auto;
    border: 1px black solid;
    padding-bottom: 50px;
    padding-top: 25px;
    box-shadow: #ABABAB 15px 15px;
}

main h1 {
    text-align: center;
}

input {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
    border-radius: 20px;
    border: 1px black solid;
    font-size: 20px;
    padding: 0 20px;
}

label {
    border-radius: 20px;
    margin-bottom: 5px;
}

.error {
    color: red;
}

form {
    display: flex;
    flex-flow: column;
    margin: 25px auto;
    width: 60%;
    max-width: 600px;
}

.title > button:last-child, .title > a:last-child {
    margin-left: auto;
    margin-right: 50px;
}

.title > button:first-child, .title > a:first-child {
    margin-left: 50px;
    margin-right: auto;
}