@import url('app.css');

.languages {
    display: flex;
    flex-flow: column;
}

.language {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0 50px;
    border-bottom: 1px black solid;
    &:first-child {
        border-top: 1px black solid;
    }
}

.language > h3 {
    margin: auto 0;
}

.language button {
    margin-left: 20px;
}